body{
    background-color: black;
    background-image: url('Sailor Moon Cityscape.jpg');
    height: 100%;
}
button{
    background-color:pink;
    color: rgb(24, 24, 141);
    float: center;
    border: solid;
    border-color: rgb(24, 24, 141);
    padding:10px 10px;
    margin: 10px;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: bold;
    position: center;
    
    
}
button:hover {
    background-color: rgb(255, 0, 234);
  }



h1{
    color: pink;
    text-align: center;
    
}
h2{
    color: rgb(216, 21, 183);
    text-align: center;
    
}




div{
    color:rgb(24, 24, 141);
    font-family: cursive;
    font-size: large;
}

