
body{
    background-color: black;
    background-image: url('Sailor Moon Cityscape.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 1rem;
    justify-content: center;
    text-align: center;
}


button{
    background-color:rgb(236, 127, 172);
    color: rgb(60, 25, 139);
    border-style: ridge;
    border-color: rgba(82, 82, 179, 0.747);
    padding:10px 10px;
    margin: 10px;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;  
}
button:hover {
    background-color: #a32b8f;
    position: center;
    text-align: center;
  }



h3, h5{
    color: rgb(230, 91, 149);
    text-align: center;
    font-size: calc(1rem + 5vw);
    font-family: bungee, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: 300;
   text-transform: uppercase;

  text-shadow: 
  5px 5px 0px #c0487a, 
  10px 10px 0px #C93472, 
  15px 15px 0px #BE0854,  
  20px 20px 0px #c11a2b,  
  25px 25px 0px #c11a2b; 

}



span{
  color: rgb(192, 72, 122) ;
  font-family: bungee, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 82px;

}


.content {
  display: flex;
  align-content: center;
  justify-content: center;
}

/*
.text_shadows {
  text-shadow: 
   3px 3px (--color-secondary), 
   6px 6px (--color-tertiary),
    9px 9px(--color-quaternary), 
    12px 12px (--color-quinary);
  font-family: bungee, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(1rem + 5vw);
  text-align: center;
  margin: 0;
  
  
}


    




